@model RoadRecordViolationSystem.ViewModels.ChangeAddPasswordViewModel
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<!-- Modal -->
<div class="modal-body">
    <div asp-validation-summary="ModelOnly"></div>

    <!-- Form -->
    <form class="form-ajax" method="post">
        <p class="fs-6">UserName: @Model.UserName</p>
        <input type="text" hidden asp-for="UserName" />

        <div class="mb-2">
            <label class="form-label">Your Password</label>
            <input asp-for="AdminPassword" type="password" class="form-control" />
            <span asp-validation-for="AdminPassword" class="text-danger"></span>
        </div>

        <div class="mb-2">
            <label class="form-label">New Password for user</label>
            <input asp-for="Password" type="password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>

        <div class="mb-2">
            <label class="form-label">Retype New Password</label>
            <input asp-for="ConfirmPassword" type="password" class="form-control" />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
    </form>
</div>

<div class="modal-footer">
    <input type="submit" onclick="requestAjaxAddUpdate('@Url.Action("ChangePassword","AdminAccounts")')" class="btn btn-primary" value="Change" />
    <button class="btn btn-outline-dark" data-bs-dismiss="modal">Cancel</button>
</div>