<div class="modal fade" id="image-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header fw-bold">
                OR/CR Image
            </div>
            <div class="modal-body">
                <img id="image-holder" src="@Url.Content(ViewBag.ImagePath)" width="500" height="500" class="img-fluid mx-auto d-block" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>